body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 30vw;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.logo {
    font-size: 50px; /* Adjust the size as needed */
    margin-bottom: 5px; /* Space between the icon and the text */
    color: #1890ff; /* Change the color to match your theme */
}

.logo-text {
    font-size: 18px; /* Adjust the size as needed */
    color: #000; /* Change the color to match your theme */
}

.login-form {
    width: 100%; /* Ensures the form takes the full width of the container */
}

.login-form .ant-form-item {
    width: 100%;
}

.login-form .ant-input,
.login-form .ant-input-password {
    width: 100%;
}

.login-form .ant-btn {
    width: 100%;
}

.below-button-text {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    color: #000;
}